{% extends "base_page.html" %}
{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Cambiar clave de acceso" "password_change" %}
{% endblock %}

{% block title %}Cambiar mi clave de acceso{% endblock %}

{% block breadcrumbsZone %}
{% render_breadcrumbs %}
{% endblock %}

{% block content %}
{% if form.errors %}
<p>Password change failed</p>
{% endif %}

<div>
	<h1 align="center"><img id="pdf" src="{% static "img/empleoestudiantes.png" %}" width="70" height="70" style="margin-bottom:-5px" /> Cambiar mi clave de acceso</h1>

	<form method="post" class="form-horizontal" action="{% url 'password_change' %}">
		{% csrf_token %}
		{% load crispy_forms_tags %}	
		{% crispy form %}
		{{ form.media }}
	</form>
</div>
{% endblock %}