{% extends "base_page.html" %}
{% load url from future %}

{% block title %}Todo Form{% endblock %}

{% block content %}
<h3>{% if object %}Updating {{object}}{% else %}Add a new Todo{% endif %}</h3>
{% load crispy_forms_tags %}

<!--<form action="" method="post">{% csrf_token %}
<table>
{{ form|crispy }}
</table>-->
<!--<input type="submit" value="Save Todo"/>-->
<!--</form>-->

<div class="well">
	<form class="form-horizontal" action="" method="post">
		{% csrf_token %}
    	{% crispy form %}
    </form>
</div>

{% endblock %}