{% extends "base_page.html" %}

{% block title %}Create File item sample{% endblock %}

{% block content %}
<h1>Create New Item</h1>
<!--<form method="post" class="form">
    {% csrf_token %}
    {% for field in form %}
        <div class="form-group">
        {{ field.errors }}
        {{ field.label_tag }}
        {{ field }}
        </div>
    {% endfor %}
    <input type="submit" value="Submit" />
</form>-->
<div class="hero-unit">
	{% load crispy_forms_tags %}
    <form class="form-horizontal" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% crispy form %}
    </form>
</div>   
    

<!--<form method="POST">{% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-primary" type="submit">Save movie</button>
</form>-->
{% endblock %}   