{% extends "base_page.html" %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Servicios Academico-Investigativos" "sais_index" %}
    {% breadcrumb object.area_solicitante "sai_edit" object.id %}
{% endblock %}

{% block title %}{{object_name}} Confirmar eliminación?{% endblock %}

{% block breadcrumbsZone %}
{% render_breadcrumbs %}
{% endblock %}

{% block content %}

<p class="Track">Está usted seguro de eliminar el SAI correspondiente al area solicitante "{{ object.area_solicitante }}" ?</p>
<form action="" method="post">{% csrf_token %}
<input type="submit" class="btn btn-primary" value="Si, deseo continuar"/>  
<input type="button" class="btn btn-primary" value="No, cancelar ahora mismo" onclick="window.history.go(-1);"/>
</form>
{% endblock %}